:root {
    --bg-color-light: #C3FF93;
    --bg-color-light-2: #FFDB5C;
    --bg-color-light-3: #FFAF61;
    --bg-color-light-4: #FF70AB;
}

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-light);
    font-family:Georgia, 'Times New Roman', Times, serif
}

#main-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    background:linear-gradient(var(--bg-color-light-2), var(--bg-color-light-3));
    border-bottom: 3px solid var(--bg-color-light-4);
    height: 125px;
    width: 100%;
}

#left-head-container, #right-head-container {
    display: flex;
    align-items: center;
    text-align: center;
}

#left-head-container {
    font-size: 20px;
    font-style: italic;
    padding: 0 20px;
    color: var(--bg-color-light-4);
}

/* palm tree art and animation*/

#umbrella-art {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 350px;
    background: linear-gradient(var(--bg-color-light-2), var(--bg-color-light-3));
    width: 200px;
    height: 125px;
}

#pole {
    position: relative;
    width: 10px;
    height: 100px;
    top: 12px;
    left: -50px;
    background: linear-gradient(silver, white);
    transform: skew(15deg);
    z-index: 1;
}

#umbrella-top {
    position: relative;
    height: 40px;
    background: linear-gradient(var(--bg-color-light-3), var(--bg-color-light-4));
    border-bottom: 2px solid var(--bg-color-light);
    width: 150px;
    left: -55px;
    transform: skew(-15deg);
    border-radius: 150px 150px 0 0;
    animation: wind 5s infinite;
}

@keyframes wind {
    25% {
        height: 37px;
        transform: skew(-5deg);
    }
    50% {
        height: 40px;
        transform: skew(-15deg);
    }
    75% {
        height: 37px;
        transform: skew(-20deg);
    }
    100% {
        height: 40px;
        transform: skew(-15deg);
    }   
}

/* end of animation and art */

#header-message {
    position: relative;
    top: 45px;
    text-align: center;
    color: var(--bg-color-light-4);
    font-style: italic;
}

#paradise-span {
    background: -webkit-linear-gradient(var(--bg-color-light-4), rgb(215, 184, 5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main-section {
    display: flex;
    position: relative;
    margin: 0 auto;
    top: 100px;
    width: 80%;
    height: 500px;
    background:linear-gradient(var(--bg-color-light-2), var(--bg-color-light-3));
    box-shadow: inset 0 0 20px 2px var(--bg-color-light-4);
}

fieldset {
    border: none;
}

