

html {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.divClass {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 150px;
    background:linear-gradient(var(--bg-color-light-2), var(--bg-color-light-3));
    border-radius: 10px;
    border: 3px solid var(--bg-color-light-4);
}

.post-header {
    font-size: 20px;
    border-bottom: 2px solid var(--bg-color-light-4);
    padding: 5px 5px;
    color: var(--bg-color-light-4);
}

.blog-p {
    background: linear-gradient(var(--bg-color-light), var(--bg-color-light-2));
    height: 90px;
    margin-top: 5px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    color: var(--blog-p);
    font-family:Arial, Helvetica, sans-serif;
    overflow: auto;
    
    scrollbar-color: var(--bg-color-light-4) var(--bg-color-light-2);
}

.blog-user {
    color: var(--blog-user);
    font-style: italic;
    padding: 3px;
}

#back-btn {
    padding: 10px 30px;
    border: none;
    color: var(--bg-color-light);
    background-color: var(--bg-color-light-4);
    background-image: linear-gradient(to left, var(--bg-color-light-4) 40%, var(--bg-color-light) 60%);
    background-size: 300% 100%;
    background-position: 100%;
    transition: background-position 1s,
    color 1s,
    box-shadow 0.5s;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

#back-btn:hover {
    background-position: 0%;
    color: var(--bg-color-light-4);
    box-shadow: 0 0 5px 5px var(--bg-color-light-4);
}
